[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
tiktoken = "*"
wandb = "*"
pandas = "*"
numpy = "*"
datasets = "*"
jupyter = "*"
transformers = "*"
torch = "*"
s3fs = "*"
huggingface-hub = "*"
sagemaker = "*"

[dev-packages]

[requires]
python_version = "3.11"
